
@{
    ViewBag.Title = "Mua hàng thành công";
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/Content/assets/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Mua hàng </h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Trang chủ</a>
                        <span>Mua hàng thành công</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<div class="row">
    <div class="col-md-12" style="text-align: center; margin-bottom: 100px; margin-top: 100px" id="load_data">
        <p>Trạng thái :  @Session["CheckOutSuccess"]</p>
        <p style="font-size: 50px; color: #B10626">Cảm ơn bạn vì đã mua hàng !!! Hãy mở email để kiểm tra đơn hàng.</p>
    </div>
</div>
