
@{ViewBag.Title = "Thanh toán";}
<style>
    .error{color:red;}
</style>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/Content/assets/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Checkout</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Checkout</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        @if (ViewBag.CheckCart != null)
        {
            <div class="row">
                <div style="color:red;font-size:30px;" class="col-md-5" id="load_page">
                    @*<span class="icon_loading"></span>*@
                </div>
            </div>
            <div class="@*checkout__form*@">
                <h2>Thông tin thanh toán</h2>
                <div style="color:red;font-size:50px;" id="show_success"></div>
                <hr />
                <div class="row">

                    <div class="col-lg-4 col-md-6">

                        @*<div class="checkout__order">
                    <h4>Giỏ Hàng</h4>
                    <div class="checkout__order__products">Products <span>Total</span></div>
                    <ul>
                        <li>Vegetable’s Package <span>$75.99</span></li>
                        <li>Fresh Vegetable <span>$151.99</span></li>
                        <li>Organic Bananas <span>$53.99</span></li>
                    </ul>

                    <div class="checkout__order__total">Total <span>$750.99</span></div>
                    <button type="submit" class="site-btn">PLACE ORDER</button>
                </div>*@
                        @Html.Action("Partial_Item_Thanhtoan", "ShoppingCart")
                    </div>
                    <div class="col-lg-8 col-md-6">
                        @Html.Action("Partial_CheckOut", "ShoppingCart")
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <p style="font-size:30px;">Bạn chưa mua sản phẩm nào. Mời bạn quay lại trang <a href="/Product">Sản phẩm</a> để mua hàng !!!</p>
            </div>
        }
    </div>
</section>
<!-- Checkout Section End -->

@section Scripts{
    <script>
        function onFailure(rs) {
            if (!rs.Success) {
                $('#show_success').html("Có lỗi xảy ra! Xin vui lòng thử lại");
            }
        }
        function onBegin(rs) {
            $('#load_page').html('Đang xử lý ...');
        }


        var onSuccess = function(result) {
            if (result.url) {
                // if the server returned a JSON object containing an url 
                // property we redirect the browser to that url
                window.location.href = result.url;
            }
        }

        $(document).ready(function () {
            $('#myForm').validate({
                rules: {
                    'CustomerName': {
                        required: true
                    },
                    'Phone': {
                        required: true
                    },
                    'Address': {
                        required: true
                    },
                    'Email': {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    'CustomerName': 'Bạn khổng để trống trường này',
                    'Phone': 'Bạn khổng để trống trường này',
                    'Address': 'Bạn khổng để trống trường này',
                    'Email': {
                        required: 'Phải nhập email',
                        email: 'Email chưa hợp lệ'
                    }
                }
            });
        });
    </script>
    }