@model IEnumerable<BanHangOnline.Models.EF.Category>
@if (Model != null && Model.Any())
{
<ul>
    <li class="active"><a href="/">Home</a></li>
    @*@foreach (var item in Model)
    {
        <li class="active"><a href="/@item.Alias">@item.Title</a></li>
    }*@
        <li><a href="/sach">Sản Phẩm</a></li>
        <li>
            <a href="#">Tin Tức</a>
            <ul class="header__menu__dropdown">
                <li><a href="./shop-details.html">shop details</a></li>
                <li><a href="./shoping-cart.html">shoping cart</a></li>
                <li><a href="./checkout.html">check out</a></li>
                <li><a href="./blog-details.html">blog details</a></li>
            </ul>
        </li>
        <li><a href="/tin-tuc">Tin Tức</a></li>
        <li><a href="/lien-he">Liên Hệ</a></li>
</ul>
}