@model IEnumerable<BanHangOnline.Models.EF.Category>
@if (Model != null && Model.Any())
{
    <h4>Danh mục tin tức</h4>
    <ul>
        @foreach (var item in Model)
        {
            if (ViewBag.category == item.Id)
            {
                <li class="active">@Html.ActionLink(">>> " + item.Title, "Index", "News", new { page = 1, category = item.Id, searchText = ViewBag.SearchText }, null)</li>
            }
            else
            {
                <li>@Html.ActionLink(item.Title, "Index", "News", new { page = 1, category = item.Id, searchText = ViewBag.SearchText }, null)</li>
            }

        }

    </ul>
}
