<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
             <img src="~/Content/clients/dist/img/1053244.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="/manage/index" class="d-block">Thông tin hồ sơ</a>
        </div>
    </div>

    <!-- SidebarSearch Form -->
    @*<div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>*@

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->

            <li class="nav-item">
                <a href="/Manage/ChangePassword" class="nav-link">
                    <i class="nav-icon fa fa-key" aria-hidden="true"></i>
                <p>
                    Thay đổi mật khẩu
                </p>
            </a>
                @*<i class="nav-icon fas fa-th"></i>
                @Html.ActionLink("Thay đổi mật khẩu", "ChangePassword",null,new {@class= "nav-link" })*@
            </li>
            <li class="nav-item">
                <a href="/Manage/EditUserInfo" class="nav-link">
                    <i class="nav-icon fas fa-user"></i>
                <p>
                    Thông tin cá nhân
                </p>
            </a>
                @*<i class="nav-icon fas fa-th"></i>

                @Html.ActionLink("Thông tin cá nhân", "EditUserInfo")*@
            </li>
            <li class="nav-item">
                <a href="/Manage/ListOrder" class="nav-link">
                    <i class="nav-icon fa fa-shopping-cart" aria-hidden="true"></i>
                <p>
                    Đơn hàng
                </p>
            </a>
                @*<i class="nav-icon fas fa-th"></i>
                @Html.ActionLink("Đơn hàng", "ListOrder")*@
            </li>
            <li class="nav-item">
                <a href="/Manage/ListOrderCancel" class="nav-link">
                    <i class="nav-icon fa fa-times" aria-hidden="true"></i>
                <p>
                    Đơn hàng đã hủy
                </p>
            </a>
                @*<i class="nav-icon fas fa-th"></i>
                @Html.ActionLink("Đơn hàng đã hủy", "ListOrderCancel")*@
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>

